body{
  background: rgb(212,40,99);
background: linear-gradient(90deg, rgba(212,40,99,1) 0%, rgba(255,73,117,1) 100%);
}
h1{
  font-family: cursive;
  color: white;
  align-items: center;
}
h2{
  font-family: cursive;
  color: white;
  align-items: center;
}

.main{
  margin-top: 20%;
}
button {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  background-color: white;
  color: black;
}
label {
  color: white;
}
